.footer {
    margin: 15px;
    background-color:  rgb(46, 46, 46);
    
}

.title-pill {
    position: relative;
    display: inline-block;
    padding: .25rem .875em;
    border-radius: 50rem;
    font-weight: normal;
}

.title-pill-secondary {
    color: #fff;
    background-color: #f3416e;
}

.title-pill-secondary a {
    color: #fff;
}